- name: "Pulling Docker images on CentOS host"
  hosts: "{{ hostaddr }}"
  remote_user: "{{ username }}"
  become: "yes"
  become_method: "sudo"
  become_user: "root"
  tasks:
    - name: "STEP 1 - Install EPEL repositories on the remote machine"
      dnf:
        name: "epel-release"
        state: "latest"
    - name: "STEP 2 - Install python3-docker on the remote machine"
      dnf:
        name: "python3-docker"
        state: "latest"
{% for imejname in imejlist %}
    - name: "STEP {{ loop.index }} - Pull {{ imejname }} from DockerHub"
      community.docker.docker_image:
        name: "{{ imejname }}"
        source: "pull"
{% endfor %}
    - name: "STEP n - Remove python3-docker from the remote machine"
      dnf:
        name: "python3-docker"
        state: "absent"
