- name: "Setting up Portainer Agent Docker on CentOS host"
  hosts: "{{ hostaddr }}"
  remote_user: "{{ username }}"
  become: yes
  become_method: "sudo"
  become_user: "root"
  tasks:
    - name: "STEP 1 - Install EPEL repositories on the remote machine"
      dnf:
        name: "epel-release"
        state: "latest"
    - name: "STEP 2 - Install python3-docker on the remote machine"
      dnf:
        name: "python3-docker"
        state: "latest"
    - name: "STEP 3 - Pull portainer/agent:latest from DockerHub"
      community.docker.docker_image:
        name: "portainer/agent:latest"
        source: "pull"
    - name: "STEP 4 - Configure and start the Portainer Agent container"
      community.docker.docker_container:
        name: "{{ portagnt_hostname }}"
        image: "portainer/agent:latest"
        restart_policy: "always"
        ports:
          - "{{ portagnt_webp }}:9001/tcp"
        volumes:
          - "{{ portagnt_sock }}:/var/run/docker.sock"
          - "{{ portagnt_volm }}:/var/lib/docker/volumes"
    - name: "STEP 5 - Remove python3-docker from the remote machine"
      dnf:
        name: "python3-docker"
        state: "absent"
